{% extends 'main/layout.html' %}

{% block title %}About{% endblock  %}

{% block content %}
  <div class="features">
    <h1>About Us</h1>
    <p>3333Lorem ipsum dolor sit amet consectetur adipisicing elit. At, saepe?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laudantium commodi ipsa expedita nemo! Eius, ex maiores suscipit ea totam laudantium. Dolorum minus molestias sit nobis ut, ipsam alias enim?</p>
    <button class="btn btn-danger">if you have big pisos push this</button>
  </div>
{% endblock  %}