{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock  %}

{% block content %}
<div class="features">
  <h1>Main Title</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, saepe?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis vero dolorem consequatur quas. Sit quaerat mollitia ut asperiores ipsum. Iusto nesciunt necessitatibus ipsam, repudiandae laboriosam vel odio ad iure itaque.</p>
  <button class="btn btn-warning">На страницу про нас</button>
</div>
{% endblock  %}