{% extends 'main/layout.html' %}

{% block title %}News{% endblock  %}

{% block content %}
<div class="features">
  <h1>News</h1>
      {% if news %}
        {%for new in news %}
          <div class="alert alert-warning">
            <h3>{{new.title}}</h3>
            <h4>{{new.anons}}</h4>
            <a href="{% url 'news-detail' new.id %}" class='btn btn-warning'>Read detail</a>
          </div>
        {% endfor %}
      {% else %}
        <p>You did't have new</p>
      {% endif %}
</div>
{% endblock %}